<!-- Include Head -->


<body>
	<% if (locals.user !=undefined) { %>
		<%- include('./partials/headLogueado') %>
			<% } else { %>
				<%- include('./partials/head') %>
					<% } %>

						<!-- Novedades -->
						<div class="container products-wrapper">
							<div class="row">
								<div class="col-12">
									<h2 class="products-title">Editar producto</h2>
								</div>
								<!-- Show the "ultimos" products -->
								<form action="/products/productEdit" method="post">
									<input type="hidden" name="id" value="<%= data.id %>">


									<div>
										<label for="fotoProducto">Foto del producto: </label>
										<input id="fotoProducto" type="text" name="fotoproducto"
											value="<%= data.fotoproducto %>">
									</div>

									<div>
										<label for="nombreProducto">Nombre del producto: </label>
										<input id="nombreProducto" type="text" name="nombreProducto"
											value="<%= data.nombreProducto  %>">
									</div>

									<div>
										<label for="nombreProducto">Descripcion del producto: </label>
										<input id="nombreProducto" type="text" name="descripcion"
											value="<%= data.descripcionProducto  %>">
									</div>
									
										<button type="submit">Enviar</button>
									</div>
								</form>



								<!-- footer -->

								<%- include('./partials/footer') %>

</body>

</html>