
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= data.productos[0].nombreproducto %></h2> 
			<p class="product-detail-description">
				<a href="product-add">Editar</a>
			</p>
		</div>

		
		<div class="product-detail ">
			<div class="comentario">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= data.productos[0].fotoproducto %> "alt="macbook">
					<p class="product-detail-description"><%= data.productos[0].descripcion%></p>
				</article>
				
				<div class="">
				<% for( let i = 0; i < data.productos[0].comentarios.length; i++ ) { %>
					<div class="comentariosProducto">
						<img class="fotoPerfilUsuario"src="<%= data.productos[0].comentarios[i].imagenPerfil %>" alt="Foto de perfil" width="50">
						<a href="/users/profile"><p class="nombre-usuario"><strong><%= data.productos[0].comentarios[i].nombreusuario %></strong></p></a>
						<p class="comentario-texto"><%= data.productos[0].comentarios[i].comentarioText %></p>
					</div>
				<% } %>
				
						
					</section>
					
					<form class="form" action="/products/product" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						
					</form>
					
					<hr>
					
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>