
<!-- Include Head -->

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headLogueado') %>
	 <% } else { %>
		<%- include('./partials/head') %>
	<% } %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= data.nombreProducto %></h2>

			<p class="product-detail-description">
				<a href="/products/productEdit/<%=data.id%> ">Editar</a>
			</p>
		</div>

		
		<div class="product-detail ">
			<div class="comentario">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= data.fotoproducto %> "alt="macbook">
					<p class="product-detail-description"><%= data.descripcionProducto%></p>
				</article>
				
				<div class="">
				<% for( let i = 0; i < data.comentario.length; i++ ) { %>
					<div class="comentariosProducto">
						<img class="fotoPerfilUsuario"src="/images/users/<%= data.comentario[i].usuario.fotodeperfil %>" alt="Foto de perfil" width="50">
						<a href="/users/profile"><p class="nombre-usuario"><strong> <%= data.comentario[i].usuario.username %> </strong></p></a>
						<p class="comentario-texto"><%= data.comentario[i].comentario  %></p>
					</div>
				<% } %>
				
						
					</section>
					
					<form class="form" action="/products/product" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						
					</form>
					
					<hr>
					
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>