<!-- Include Head -->

<body>
	<% if (locals.user !=undefined) { %>
		<%- include('./partials/headLogueado') %>
			<% } else { %>
				<%- include('./partials/head') %>
					<% } %>
						<!-- product detail -->
						<div class="container products-wrapper">
							<div class="d-flex align-items-center">
								<h2 class="products-title">
									
									<%= data.nombreProducto %>
								</h2>

								<p class="product-detail-description">
									<% console.log(locals.user) %>
										<% console.log(data.idUsuario) %>
											<% if (locals.user !=undefined) {%>
												<% if (locals.user.id==data.idUsuario) { %>
													<a href="/products/productEdit/<%=data.id%> ">Editar</a>
													<% } %>
														<% } %>
								</p>
							</div>

							<div class="product-detail ">
								<div class="comentario">
									<article class="col-12 col-lg-8 product-detail-info">
										<img src="/images/products/<%= data.fotoproducto %> " alt="macbook">
										<p class="product-detail-description">
											<%= data.descripcionProducto%>
										</p>

									</article>

									<div class="">
										<% for( let i=0; i < comentario.length; i++ ) { %>
											<div class="comentariosProducto">
												<img class="fotoPerfilUsuario"
													src="/images/users/<%= comentario[i].usuario.fotodeperfil %>"
													alt="Foto de perfil" width="50">
												<a href="/users/profile/id/<%= comentario[i].usuario.id %>">
													<p class="nombre-usuario"><strong>
															<%= comentario[i].usuario.mail %>
														</strong></p>
												</a>
												<p class="comentario-texto">
													<%= comentario[i].comentario %>
												</p>
											</div>
											<% } %>

												</section>
												<% if (locals.user !=undefined) {%>
													<form class="form" action="/products/comentario/id/<%= data.id %>"method="post">
														<input class="form-input" type="text" value="<%= locals.old !== undefined && old.comentario ? old.comentario: "" %>"
															placeholder="Agregar comentario" name="comentario">
														<% if (locals.errors && errors.comentario ) { %>
															<p>
																		<%= errors.comentario.msg %>
																	</p>

															<%} %>
																<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
													</form>
													<% } else { %>
														<h3 class="recordatorio"> Recorda que debes estar logueado para
															poder comentar acerca de este producto.</h3>
														<% } %>




															<hr>

									</div>
								</div>
							</div>
						</div>
						<!-- /product detail -->


						<!-- footer -->
						<%- include('./partials/footer') %>
							<!-- /footer -->

</body>

</html>