
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="product-add">Editar</a>
			</p>
		</div>

		
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/img-macbook-pro-2019.jpg" alt="macbook">
					<p class="product-detail-description">CPU de 8 núcleos con 4 núcleos de rendimiento</p>
				</article>
				
				<% for( let i = 0; i < data.productos.comentarios.length; i++ ) { %>
					<div class="comentario">
						<img src="<%= data.productos.comentarios[i].imagenPerfil %>" alt="Foto de perfil" width="50">
						<p class="nombre-usuario"><strong><%= data.productos.comentarios[i].nombreusuario %></strong></p>
						<p class="comentario-texto"><%= data.productos.comentarios[i].comentarioText %></p>
					</div>
				<% } %>
				
						
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>