<!-- Include Head -->
<%- include('./partials/headLogueado') %>
<body>
	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= data.usuario.fotoDePerfil%>" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= data.usuario.usuario %>
						<a href="profile-edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	
	</div>
			<!-- Show mis productos -->

			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Novedades</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<% for( let i = 0; i < 4; i++ ) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/products/product">
									<figure class="product-box_image">
										<img src="<%= data.productos[i].fotoproducto %>" alt="<% %>" width="300" >
									</figure>
									<article class="product-box_data">
										<h2> <%= data.productos[i].nombreproducto %> </h2>
										<p><%= data.productos[i].descripcion %></p>
										<p> Comentarios: <%=data.productos[i].comentarios.length %> </p>
									</article>
								</a>
							</section>
						</div>
					<% } %>
					
				</div>
			</div>
			<!-- /Novedades -->
			<!-- Más comentados -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Más comentados</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<% for( let i = 0; i < 4; i++ ) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/products/product">
									<figure class="product-box_image">
										<img src="<%= data.productos[i].fotoproducto %>" alt="<% %>" width="300" >
									</figure>
									<article class="product-box_data">
										<h2> <%= data.productos[i].nombreproducto %> </h2>
										<p><%= data.productos[i].descripcion %></p>
										<p> Comentarios: <%=data.productos[i].comentarios.length %> </p>
									</article>
								</a>
							</section>
						</div>
					<% } %>


			
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer') %>
	
</body>	
</html>